@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

$primary-bg: #f9f9f9;
$secondary-bg: #e8e8e8;
$body-txt-color: #4c4c4c;
$highlight-color: #075e54;
$warning-color: #b00020;
$border-color: #d3d3d3;
$base-transition: all 0.3s ease-out;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 43.75em) {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: $body-txt-color;
  height: 100vh;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

#dm-chats::webkit-scrollbar {
  display: none;
  width: 1rem;
}

.container {
  width: 70rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 3rem 5rem;
  background-color: $primary-bg;
  border: 1px solid $border-color;

  @media only screen and (max-width: 43.75em) {
    width: 100%;
    padding: 3rem 1rem;
    border-bottom: none;
  }
}

.header {
  height: 20vh;

  @media only screen and (max-width: 43.75em) {
    height: auto;
  }

  &__search {
    display: block;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: 1px solid $border-color;
    margin-bottom: 3rem;

    &:focus,
    &:active {
      outline: none;
      border-color: $highlight-color;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
    transition: $base-transition;

    @media only screen and (max-width: 43.75em) {
      font-size: 1.4rem;
      border-bottom-width: 2px;
    }

    &.active {
      color: $highlight-color;
      border-color: currentColor;
    }
  }
}

.main {
  margin-top: 3rem;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 10vh;

  &__icon {
    width: 10rem;
  }

  &__message {
    color: $highlight-color;
    margin-top: 3rem;
    text-align: center;

    span {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $primary-bg, $alpha: 1);
  z-index: 2;
  display: none;

  .loader {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid #e4e4e4;
    border-top-color: $highlight-color;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.pages {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 43.75em) {
    height: 75vh;
  }

  .main-page {
    overflow-x: hidden;
    position: inherit;
  }
}

.dropdown {
  position: absolute;
  z-index: 3;
  list-style: none;
  background-color: #fff;
  padding: 1.8rem 1.6rem;
  border: 1px solid $border-color;
  border-radius: 5px;

  &.hidden {
    top: -200% !important;
    left: -200% !important;
    display: none !important;
  }

  li {
    cursor: pointer;
    transition: $base-transition;

    &:hover {
      filter: contrast(150%);
    }

    &:first-child {
      color: $highlight-color;
      margin-bottom: 1.5rem;
    }

    &:last-child {
      color: $warning-color;
    }
  }
}

.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: $base-transition;

  &:hover {
    background-color: $secondary-bg;
  }

  &__image {
    margin-right: 2rem;

    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      overflow: hidden;

      @media only screen and (max-width: 43.75em) {
        width: 55px;
        height: 55px;
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    width: 100%;

    @media only screen and (max-width: 43.75em) {
      row-gap: 0.45rem;
    }

    & > *:nth-child(even) {
      justify-self: flex-end;
    }

    &--name {
      font-size: 2rem;
    }

    &--msg {
      font-size: 1.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--time {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > :first-child {
        font-size: 60%;
      }
    }
  }
}
