@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #4c4c4c;
  height: 100vh;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

#dm-chats::webkit-scrollbar {
  display: none;
  width: 1rem;
}

.container {
  width: 70rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 3rem 5rem;
  background-color: #f9f9f9;
  border: 1px solid #d3d3d3;
}

@media only screen and (max-width: 43.75em) {
  .container {
    width: 100%;
    padding: 3rem 1rem;
    border-bottom: none;
  }
}

.header {
  height: 20vh;
}

@media only screen and (max-width: 43.75em) {
  .header {
    height: auto;
  }
}

.header__search {
  display: block;
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  margin-bottom: 3rem;
}

.header__search:focus, .header__search:active {
  outline: none;
  border-color: #075e54;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding-bottom: 1rem;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 43.75em) {
  .navbar__item {
    font-size: 1.4rem;
    border-bottom-width: 2px;
  }
}

.navbar__item.active {
  color: #075e54;
  border-color: currentColor;
}

.main {
  margin-top: 3rem;
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 10vh;
}

.empty__icon {
  width: 10rem;
}

.empty__message {
  color: #075e54;
  margin-top: 3rem;
  text-align: center;
}

.empty__message span {
  text-transform: uppercase;
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  z-index: 2;
  display: none;
}

.overlay .loader {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 5px solid #e4e4e4;
  border-top-color: #075e54;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pages {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 43.75em) {
  .pages {
    height: 75vh;
  }
}

.pages .main-page {
  overflow-x: hidden;
  position: inherit;
}

.dropdown {
  position: absolute;
  z-index: 3;
  list-style: none;
  background-color: #fff;
  padding: 1.8rem 1.6rem;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.dropdown.hidden {
  top: -200% !important;
  left: -200% !important;
  display: none !important;
}

.dropdown li {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.dropdown li:hover {
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.dropdown li:first-child {
  color: #075e54;
  margin-bottom: 1.5rem;
}

.dropdown li:last-child {
  color: #b00020;
}

.user {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.user:hover {
  background-color: #e8e8e8;
}

.user__image {
  margin-right: 2rem;
}

.user__image img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 43.75em) {
  .user__image img {
    width: 55px;
    height: 55px;
  }
}

.user__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  width: 100%;
}

@media only screen and (max-width: 43.75em) {
  .user__info {
    row-gap: 0.45rem;
  }
}

.user__info > *:nth-child(even) {
  justify-self: flex-end;
}

.user__info--name {
  font-size: 2rem;
}

.user__info--msg {
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user__info--time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__info--time > :first-child {
  font-size: 60%;
}
/*# sourceMappingURL=style.css.map */